
<footer class="footer mt-3">
    <div class="container">

        <p class="center">The Sainsbury Laboratory. Funded by The Gatsby Charitable Foundation and BBSRC, BB/I023798/1</p>
        <a href="http://github.com/teammaclean/cheripic" target="_blank" class="pull-right" style="width: 100%; padding:8px;">
            <img width="32px" class="center" alt="Github Logomark" src="/img/github.svg">
        </a>

    </div>
</footer>

<img src="/img/bbsrc_small.png" class="center" height="128px" width="auto">

<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="/components/jquery/dist/jquery.min.js"></script>
<script>
//    var socketURL = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
//    var socket = io.connect(socketURL);
</script>


<script src="/js/main.js"></script>

</body>
</html>