<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Cheripic App">
    <meta name="author" content="Martin Page">
    <meta name="theme-color" content="#3DA2FF">
    <!--<link rel="icon" href="/favicon.ico">-->

    <title>CheriPic</title>

    <!--<link href="/components/elegant-icons/css/style.css" rel="stylesheet">-->
    <!--<link href="/components/animate.css/animate.min.css" rel="stylesheet">-->
    <link href="/style/style.min.css" rel="stylesheet">

</head>

<body>

<div class="title">
    <div class="container">
        <div class="center">
            <img class="" width="64px" height="auto" src="/img/logo.png">
            <h1 class="">CheriPic</h1>
        </div>
        <!--<p class="center">It does stuff!</p>-->
    </div>
</div>
<nav class="nav">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/shyamrallapalli/cheripic/wiki/2.-Usage-Instructions" target="_blank">Usage
                    Instruction</a></li>
            <li><a href="https://github.com/shyamrallapalli/cheripic/wiki/3.-FAQ" target="_blank">FAQ</a></li>
            <li><a href="http://cheripicshiny.tsl.ac.uk/" target="_blank">Shiny App</a></li>
        </ul>
    </div>
</nav>