<% include head.ejs %>

<div class="container">

    <h1 class="center">CheriPic</h1>

    <form id="form" action="/submit" method="post" enctype="multipart/form-data">

        <h2>Assembly</h2>

        <fieldset>
            <label for="assembly" data-help="Select Assembly fasta file">Input Assembly file</label>
            <input type="file" name="assembly" id="assembly" required>
        </fieldset>

        <hr>

        <h2>Bulk Data</h2>

        <fieldset>
            <label for="input_format" data-help="Choose between vcf, bam and pileup format">Input file format</label>
            <select name="input_format" id="input_format" required>
                <option value="vcf" selected>vcf</option>
                <option value="bam">bam</option>
                <option value="pileup">pileup</option>
            </select>
        </fieldset>

        <div class="row">
            <div class="col6">
                <fieldset>
                    <label for="mut_bulk" data-help="Select mutant bulk input file">Mutant bulk input file</label>
                    <input type="file" name="mut_bulk" id="mut_bulk" required>
                </fieldset>
            </div>
            <div class="col6">
                <fieldset>
                    <label for="bg_bulk" data-help="Select background bulk input file">Background bulk input
                        file</label>
                    <input type="file" name="bg_bulk" id="bg_bulk" required>
                </fieldset>
            </div>
        </div>


        <div class="row">
            <div class="col6">
                <fieldset>
                    <label for="mut_bulk_vcf" data-help="Select mutant bulk input vcf file">Mutant bulk input vcf
                        file</label>
                    <input type="file" name="mut_bulk_vcf" id="mut_bulk_vcf">
                </fieldset>
            </div>
            <div class="col6">
                <fieldset>
                    <label for="bg_bulk_vcf" data-help="Select background bulk input vcf file">Background bulk input vcf
                        file</label>
                    <input type="file" name="bg_bulk_vcf" id="bg_bulk_vcf">
                </fieldset>
            </div>
        </div>


        <hr>


        <fieldset>
            <label for="hmes_adjust"
                   data-help="factor added to snp count of each contig to adjust for hme score calculations">HME
                score
                adjuster</label>
            <input type="number" step="any" name="hmes_adjust" id="hmes_adjust" min="0.01" max="1.0" value="0.5">
        </fieldset>

        <fieldset>
            <label for="ht_low" data-help="lower limit to heterozygosity allele fraction">Heterozygosity low
                limit</label>
            <input name="ht_low" size="4" type="number" step="any" value="0.25" min="0.1" max="1.0">
        </fieldset>

        <fieldset>
            <label for="ht_high" data-help="upper limit to heterozygosity allele fraction">Heterozygosity high
                limit</label>
            <input name="ht_high" size="4" type="number" step="any" value="0.75" min="0.1" max="1.0">
        </fieldset>

        <fieldset>
            <label for="min_depth" data-help="minimum read depth to conisder a position for variant calls">Minimum
                read
                coverage</label>
            <input name="min_depth" size="4" type="number" step="any" value="6" min="1" max="8000">
        </fieldset>

        <fieldset>
            <label for="max_d_multiple"
                   data-help="multiplication factor for average coverage to calculate maximum read coverage">Multiplication
                factor avg read coverage</label>
            <input name="max_d_multiple" size="4" type="number" step="any" value="5" min="0" max="100">
        </fieldset>

        <fieldset>
            <label for="max_depth"
                   data-help="minimum read depth supporting non reference base at each position">Maximum read
                coverage</label>
            <input name="max_depth" size="4" type="number" step="any" value="0" min="0" max="8000">
        </fieldset>

        <fieldset>
            <label for="min_non_ref_count">Minimum alternate read coverage</label>
            <input name="min_non_ref_count" size="4" type="number" step="any" value="3" min="1" max="8000">
        </fieldset>

        <fieldset>
            <label for="min_indel_count_support"
                   data-help="minimum read depth supporting an indel at each position">Minimum indel read
                coverage</label>
            <input name="min_indel_count_support" size="4" type="number" step="any" value="3" min="1" max="8000">
        </fieldset>

        <fieldset>
            <label for="ambiguous_ref_bases"
                   data-help="including variant at completely ambiguous bases in the reference">Ambiguous
                reference position</label>
            <input name="ambiguous_ref_bases" type="checkbox">
        </fieldset>

        <fieldset>
            <label for="mapping_quality" data-help="minimum mapping quality of read covering the position">Minimum
                mapping
                quality</label>
            <input name="mapping_quality" size="4" type="number" step="any" value="20" min="0" max="255">
        </fieldset>

        <fieldset>
            <label for="base_quality" data-help="minimum base quality of nucleotides covering the position">Minimum
                base
                quality</label>
            <input name="base_quality" size="4" type="number" step="any" value="15" min="0" max="40">
        </fieldset>

        <fieldset>
            <label for="noise"
                   data-help="proportion of reads supporting a variant, below which are consider as noise">Read
                noise</label>
            <input name="noise" size="4" type="number" step="any" value="0.1" min="0" max="0.2">
        </fieldset>

        <fieldset>
            <label for="cross_type" data-help="type of cross used to generated mapping population - back or out">Cross
                type</label>
            <select name="cross_type" type="select">
                <option value="back" selected>back cross</option>
                <option value="out">out cross</option>
            </select>
        </fieldset>

        <fieldset>
            <label for="use_all_contigs"
                   data-help="option to select all contigs or only contigs containing variants for analysis">Use
                all contigs in analysis</label>
            <input name="use_all_contigs" type="checkbox">
        </fieldset>

        <fieldset>
            <label for="include_low_hmes"
                   data-help="option to include or discard variants from contigs with low hme-score or bfr score to list in the final output">No
                hme or bfr score cut off</label>
            <input name="include_low_hmes" type="checkbox">
        </fieldset>

        <fieldset>
            <label for="polyploidy" data-help="Set if the input data is from polyploids">Polyploid data</label>
            <input name="polyploidy" type="checkbox">
        </fieldset>

        <fieldset>
            <label for="mut_parent" data-help="Select mutant parent pileup file">Mutant parent pileup file</label>
            <input name="mut_parent" type="file" format="pileup">
        </fieldset>

        <fieldset>
            <label for="bg_parent" data-help="Select background parent pileup file">Background parent pileup
                file</label>
            <input name="bg_parent" type="file" format="pileup">
        </fieldset>

        <fieldset>
            <label for="repeats_file" data-help="Repeat masker output file of repeat positions">Repeat masker output
                file</label>
            <input name="repeats_file" type="file" format="txt">
        </fieldset>

        <fieldset>
            <label for="bfr_adjust"
                   data-help="factor added to hemi snp frequency of each parent to adjust for bfr calculations (default: 0.05)">BFR
                score adjuster</label>
            <input name="bfr_adjust" size="4" type="number" step="any" value="0.05" min="0.01" max="1.0">
        </fieldset>

        <fieldset>
            <label for="sel_seq_len"
                   data-help="sequence length to print from either side of selected variants (default: 50)">Selected
                variant
                seq length out</label>
            <input name="sel_seq_len" size="4" type="number" step="any" value="50" min="10" max="250">
        </fieldset>

        <fieldset>
            <label for="loglevel" data-help="choose between info, warn and debug levels">Analysis log level</label>
            <select>
                <option value="info" selected>info</option>
                <option value="warn">warning</option>
                <option value="debug">debug</option>
            </select>
        </fieldset>

        <input class="success" type="submit">
    </form>
</div>


<% include foot.ejs %>